* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

nav#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #22313F;
    z-index: 50;
}

header#title {
    width: 45%;
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding: .45em;
}

ul.nav-list {
    width: 55%;
    font-size: 1.5em;
    padding: .5em;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}

li {
	display: inline-block;
	list-style: none;

}

a {
    text-decoration: none;
    color: #22313F;
    padding: .5em;
    
}

a.nav-link {
    position: relative;
    padding-bottom: .2em;
    margin: 0 auto;
    padding-right: 1.5em;
}

a.nav-link:before {
    content: "";
    position: absolute;
    width: 67%;
    height: 2.5px;
    bottom: 0;
    left: .5em;
    background-color: #22313F;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

a#about:before {
    width: 60%;
    left: .45em;
}

a.nav-link:hover, a.nav-link:focus, a.nav-link:active  {
    color: #22313F;
}

a.nav-link:hover:before, a.nav-link:focus:before, a.nav-link:active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

main {
	margin-left: 0;
    margin-top: 3.5em;
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
    line-height: 1.25em;
}

section#welcome-section {
	background-color: #565656;
    color: #d3d4d4;
    height: 100vh;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    border-bottom: 2px solid #22313F;
    z-index: 25;
}

article.welcome {
    background-color: #22313F;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    padding: 6em 1em;
    width: 60%;
    min-width: 610px;
    border-radius: 5px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 19em;
    max-width: 29em;
    width: 75%;
    padding: 1em;
}

h1#name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.75em;
    padding-top: 0;
    text-align: left;
    text-shadow: 1px 1px #22313F;
    margin-top: 0;
}

div.welcome-text p {   
    margin: 0 ;
    padding: .25em;
    justify-content: left;

}

div.overlay-image {
    position: relative;
    width: 100%;
    max-width: 325px;
}

.overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.overlay-image:hover .hover, .overlay-image:focus .hover {
    opacity: 1;
}

h2 {
	font-weight: normal;
	text-align: center;
}

section#projects {
    width: 100%;
    margin: 0 auto;
    padding: 3em 0;
    padding-bottom: 5em;
    height: auto;
    background-color: #fafafa;
    z-index: 25; 
}

header {
    width: 100%;
}

header#projects-head h2 {
    color: #22313F;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}


div.project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 74.5%;
    margin: 0 auto;
    margin-top: 2.5em;
}

article.project {
    width: 33%;
    max-width: 325px;
    min-width: 225px;
    margin: 1em;
    margin-bottom: 2em;
    overflow: hidden; 
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article.project.bottom-row {
    margin-top: 0;
}


figure.project-gallery-fig {
    margin: 0;
    padding: 0;  
    position: relative;
    width: 100%;
    height: auto;
}

.project-gallery-fig .overlay {
    background: #22313F; 
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.project-gallery-fig:hover .overlay, .project-gallery-fig:focus .overlay {
    opacity: 1;
}

img.project-thumbnail {
    display: block;
    width: 100%;
    height: auto;    
}

.project-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.project-gallery-fig:hover .project-details, .project-gallery-fig:focus .project-details  {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.project-text, .live-link {
    color: #fff;
    font-size: .9em;
}

p.project-text {
    text-align: left;
    padding: 1em;
    text-indent: 2em;
    color: #d3d4d4;
}


.fadeIn-bottom {
    top: 80%;
}

div.project-details a {
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

div.projectLink {
    background-color: #565656;
    border: 1px solid #D3D4D4;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1.75px 1.75px .25px #D3D4D4;
    height: 2.85em;
    width: 4.75em;
    margin: 1em;
}

div.projectLink.gitHub {    
    width: 2.75em;
    height: 2.75em;
    
}

a.git-hub-link, a.live-link {
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 2em;     
    margin: -2em; 
}

div.gitHubLogoWhite {
    background-image: url('images/GitHub-Mark-Light-32px.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    vertical-align: middle;  
    display: inline-block;  
    padding: 0.5em;
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}



section#connect {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #22313F;
    color: #d3d4d4;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header#connect-head h2 {
    margin: 1em auto;
    padding: 1em;
    font-size: 1.75em;
}


div.contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

div.contact-info h3 {
    font-size: 1.25em;
}

div.contact {
    text-align: center;
    border: 1px solid #d3d4d4;
    border-radius: 10px;
    width: 235px;
    padding: .5em;
    margin: 2em;
    background-color: #565656;
    color: #fff;
}

div.connectLink {
    background-color: #22313F;
    border: 1px solid #D3D4D4;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1.75px 1.75px .25px #D3D4D4;
    height: 3em;
    width: 3.5em;
    margin: 1em;
}

div.connectLink.resume {
    width: 5em;
}

div.linkedIn-white {
    background-image: url('images/In-White-34px-R.png'); 
    height: 34px;
    width: 43px;
    margin: 0 auto;
    vertical-align: middle;  
    display: inline-block;  
    padding: 0.5em;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}


a.contact-link {
    padding: .5em;
    color: #fff;  
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 2em;     
    margin: -2em; 
}



@media screen and (max-width: 1437px) {

    article.project {
        margin: .25em;
        margin-bottom: .5em;
    }
   
}

@media screen and (max-width: 1340px) {
    div.project-gallery {
        justify-content: center;
    }

    article.project {
        margin: 1em;
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 785px) {

    header#title {
        visibility: collapse;
        width: 0%;
    }

    ul.nav-list {
        width: 100%;
        font-size: 1em;
        padding-top: 1em;
        text-align: center;
    }

    h1#name {
        font-size: 1em;
    }

    div.welcome-text p {
        font-size: .85em;
    }

    section#projects {
        padding: 1em 0;
    }

     div.project-gallery {
        width: 100%;
    }

    header#projects-head h2{
        margin: 2em 0;
        font-size: 1.25em;
    }

    article.project {
        margin: .25em;
        margin-bottom: .5em;
    }

    div.contact-info {
        font-size: .85em;
    }

    header#connect-head {
        font-size: .75em;
    }

}

@media screen and (max-width: 620px) {
    article.welcome {
        min-width: 80%;
        flex-wrap: wrap;
        padding: 2em;
    }

    .welcome-text {
        min-width: 16em;
    }

    h1#name, div.welcome-text p {
        font-size: .85em;
        padding-left: 1em;
        padding-right: 1em;
    }

    div.contact {
        margin: 1em;
    }

    .project-text, .live-link {
        color: #fff;
        font-size: .7em;
    }

    p.project-text {
        padding: .25em;
        color: #fafafa;
    }

}



