* {
	box-sizing: border-box;


}

body {
	font-size: 16px;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;


}

nav#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    background-color: #565656;
    color: #d3d4d4;
}

header#title {
    width: 45%;
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding: .45em;
}

ul.nav-list {
    width: 55%;
    font-size: 1.5em;
    padding: .5em;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    text-align: right;

}

li {
	display: inline-block;
	list-style: none;
}

a {
    text-decoration: none;
    color: #d3d4d4;
    padding: .5em;
}

main {
	margin-left: 0;
    margin-top: 3.5em;
    font-family: 'Open Sans', sans-serif;
}

section#welcome-section {
	background-color: #565656;
    color: #d3d4d4;
    height: 100vh;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}

h1#name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.75em;
    padding-top: 0;
    text-align: center;
}

p {
    max-width: 36em;
    margin: 0 auto;
}

img#rtv-photo {
    margin: 2em;
}

h2 {
	font-weight: normal;
	text-align: center;
}

section#projects {
    width: 100%;
    margin: 0 auto;
    margin-top: 2em;
    height: auto;
    
}

header h2#projects-head {
    display: block;
    width: 100%;
    margin: 0 auto;
}

div.project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

article.project {
    width: 33%;
    height: 450px;
}



figure.project-gallery-fig {
    max-width: 450px;
}

img.project-thumbnail {
    width: 100%;
    height: auto;
}

section#connect {
    width: 100%;
    margin: 0 auto;
    background: #22313F;
    color: #d3d4d4;
    margin-bottom: 0;
}




