* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

nav#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #22313F;
    z-index: 50;
}

header#title {
    width: 45%;
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding: .45em;
}

ul.nav-list {
    width: 55%;
    font-size: 1.5em;
    padding: .5em;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}

li {
	display: inline-block;
	list-style: none;
}

a {
    text-decoration: none;
    color: #22313F;
    padding: .5em;
    padding-right: 1.5em;
}

li.nav-list :hover {
    background-color: #22313F;
    color: #d3d4d4;
    font-size: 1.1em;
    padding: .35em;
    text-decoration: none;
}

li.nav-list :active {
    background-color: #22313F;
    color: #d3d4d4;
    font-size: 1.25em;
    padding: .35em;
    text-decoration: none;
}

li.nav-link :visited {
    font-size: 1em;
    padding: .5em;
    text-decoration: none;
    background-color: #fafafa;
    color: #22313F;

}

main {
	margin-left: 0;
    margin-top: 3.5em;
    font-family: 'Open Sans', sans-serif;
}

section#welcome-section {
	background-color: #565656;
    color: #d3d4d4;
    height: 100vh;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    border-bottom: 2px solid #22313F;
    z-index: 25;
}

article.welcome {
    background: #22313F;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    padding: 6em 1em;
    width: 60%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1#name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.75em;
    padding-top: 0;
    text-align: left;
    text-shadow: 1px 1px #22313F;
    margin-top: 0;
}

p {
    max-width: 29em;
    margin: 0 ;
    padding: .25em;
    justify-content: left;
}

img#rtv-photo {
    margin: 2em;
}

h2 {
	font-weight: normal;
	text-align: center;
}

section#projects {
    width: 100%;
    margin: 0 auto;
    padding: 3em 0;
    padding-bottom: 10em;
    height: auto;
    background-color: #fafafa;
    z-index: 25;  
}

header {
    width: 100%;
}

header#projects-head h2 {
    color: #22313F;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}


div.project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

article.project {
    width: 33%;
    max-width: 450px;
    min-width: 375px;
    margin: 0;
    margin-top: 2em;
    padding: 1em;   
}

article.project.bottom-row {
    margin-top: 0;
}

figure.project-gallery-fig {
    margin: 0;
    padding: 0;  
    height: 380px;
    overflow: hidden; 
    position: relative;
}

.project-gallery-fig .overlay {
    background: rgba(13,19,25,0.7);
    opacity: 0;
    height: 99%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.project-gallery-fig:hover .overlay {
    opacity: 1;
}

img.project-thumbnail {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.project-gallery-fig:hover .project-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.project-text, .live-link {
    color: #fff;
    font-size: 1em;
}

.fadeIn-bottom {
    top: 80%;
}

img.gitHubLogo {
    max-width: 20%;
}

section#connect {
    width: 100%;
    margin: 0 auto;
    background-color: #22313F;
    color: #d3d4d4;
    margin-bottom: 0;
}

header#connect-head h2 {
    margin: 0 auto;
    padding: 1em;
}

@media screen and (max-width: 655px) {

}



